
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255; /* Light text color for contrast */
    --background-start-rgb: 0, 43, 26; /* A very deep green */
    --background-end-rgb: 0, 77, 43; /* A slightly lighter but still deep green */
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255; /* Light text color for contrast in dark mode */
      --background-start-rgb: 0, 34, 17; /* A deep, dark green for dark mode */
      --background-end-rgb: 0, 51, 25; /* A slightly lighter dark green for dark mode */
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      );
  }
